 *{
	margin: 0px;
	padding: 0px;
}
html{
	font-size: 100px;

}
body{
	font-size: 12px;
}
	.banner{
		width: 100%;
		height: 0.4rem;
		text-align: center;
		line-height: 0.4rem;
		background: rgb(255,244,174);
		font-size: .14rem;
	}
	.banner span{
		color: rgb(224,0,61);
	}
	.addplateNumber{
		width: 66%;
		height: 0.4rem;
		clear: both;
        margin-left: 17%;
        margin-top: .28rem;
		font-size: .16rem;
	}
    .addplateNumber img{
        width: 100%;
    }
    .carMin{
        /*background: #FDD361;
        color: #fff;*/
    }
    .carMax{
       	/*border: 1px solid rgb(204,204,204);*/
        color: rgb(204,204,204);
    }

	.botiput{
		width: 50%;
		height: 0.4rem;
		text-align: center;
		line-height: 0.4rem;
	    color: rgb(125,125,125);
		float: left;
	}
	.plateNumber{
		margin-top: .3rem;
        border-top: 1px solid #F2F2F2;
	}
	.trackMatte{
		width: 100%;
		height: 100%;
		opacity: .7;
		background: #000000;
		position: fixed;
		left: 0px;
		top: 0px;
		display: none;
	}
    .plateNumberBox{

    }
	.plateNumberList{
		padding: 0 .14rem;
		height: .48rem;
		line-height: .48rem;
		border-bottom: 1px solid #f2f2f2;
		display: flex;
		-webkit-flex-direction: row;
		-webkit-justify-content: space-between;
		font-size: .14rem;
        color: #333333;
	}

    .parkingRecord{
    	padding-top:.21rem;
    	padding-right: .2rem;
    	color: #fff;
    	padding-left: .14rem;
    }

    .parkingRecord p{
        float: right;
    	width: .7rem;
    	text-align: center;
    	font-size: .15rem;
    	border-bottom: 1px solid #fff;
        margin-left: .285rem;
        font-weight: bold;
    }


    .footer{
    	width: 100%;
    	position: fixed;
    	bottom: 0px;
    	left: 0px;
    	border: 1px solid rgb(204,204,204);
    }
    .bookingspace{
    	background: rgb(204,204,204);
    }
    /*.bannerImg{
    	width: 100%;
    	height: .53rem;
    	background: url(../pic/img_bg.png) no-repeat;
    	background-size: 100% 100%;
    	position: relative;
    }*/
   .goParking{
   	  position: absolute;
   	  right: .21rem;
   	  bottom: -.3rem;
   	  width: .6rem;
   	  height: .6rem;
   	  text-align: center;
   	  border-radius: 100%;
      font-size: .14rem;
   }
   .goParking img{
   	  width: .2rem;
   	  height: .16rem;
   	  display: block;
   	  margin: 0 auto;
   	  margin-top: .1rem;
   	  margin-bottom: .05rem;
   }
   .goParkingC{
   	   background: #ccc;
   	   color: rgb(122,122,122);
   }
   .goParkingY{
   	   background: rgb(255,221,16);
   	   color: rgb(51,51,51);
   }
   .integralPayment{
   	 width: 100%;
   	 height: .43rem;
   	 border-bottom: 1px solid rgb(242,242,242);
   	 line-height: .43rem;
   }


.switch {
  width: 0.51rem;
  height: 0.29rem;
  border-radius: 0.15rem;
  float: right;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent !important;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
.switch_img {
  width: 0.73rem;
  height: 0.29rem;
  position: absolute;
  left: -0.22rem;
  top: 0px;
}
.switch_img img {
  width: 100%;
  height: 100%;
}
.swichBox {
  width: 0.51rem;
  height: 0.29rem;
  border-radius: 0.15rem;
  position: relative;
  overflow: hidden;
}
/*修改 2 禁止长按系统出现 复制粘贴      https://www.jb51.net/html5/478439.html*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
input {
  -webkit-user-select: auto;
  /*webkit浏览器*/
}
/*修改 2*/
#btn {
  -webkit-user-select: auto !important;
}
.Switch_Green,
.SwitchLine:after {
  display: none;
}
.Switch_Green,
.SwitchLine:before {
  display: none;
}
.Switch_Green {
  position: relative;
  width: 0.3rem !important;
  height: 0.17rem !important;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #b4aa9f;
  border-radius: 0.2rem;
}
.Switch_Green .SwitchButton {
  position: absolute;
  width: 0.17rem;
  height: 0.17rem;
  left: 0.01rem;
  top: 0rem;
  z-index: 2;
  background-color: #fff3e3;
  border-radius: 0.20rem;
  border: 0.03rem solid #b4aa9f;
}
.Switch_Green.On .SwitchButton {
  border: 0.03rem solid #6ebf5f;
  left: 0.15rem !important;
}
.switchBtn {
  width: 0.2rem !important;
  height: 0.2rem !important;
  border-radius: 0.15rem;
  float: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent !important;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  margin-top: -0.02rem;
  margin-left: .14rem;
}

.integralPaymentFont{
   float: left;
   margin-left: .2rem;
}
.Switch_Green.On{
	background: rgb(255,221,16) ;
}
.Switch_Green.On .SwitchButton {
	border: 0.03rem solid #fff;
}
.introduce{
    width: 96%;
    position: absolute;
    bottom: 0px;
    left:2%;
    border-top: 1px solid #f2f2f2;
    padding-top: .14rem;
    color: rgb(185,185,185);
    font-size: .14rem;
    line-height: .22rem;
    padding-bottom: .14rem;
}
#online{
 background: rgb(255,221,16);
}
.delbtn{
   width: .14rem;
   height: .14rem;
}
.delbtn img{
   display: inline-block;
   width: 100%;
}

#addplateNumber{
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
 #online{
     -webkit-tap-highlight-color: rgba(0,0,0,0); 
     -webkit-tap-highlight-color: transparent;
 }

.addicon{
   height: .2rem;
   position: absolute;
   left: 18%;
   top: 50%;
   margin-top: -.1rem;
}
