 html,
 body {
     min-height: 100%;
     background: #F4F4F4;
 }

 .time_name {
     font-size: 0.16rem !important;
     color: rgb(51, 51, 51) !important;
 }

 .time_session {
     font-size: 0.14rem !important;
     color: rgb(128, 128, 128);
     padding-top: 0rem !important;
 }

 .choose_title {
     float: left;
 }

 .choose_price {
     float: right;
     padding: 0.14rem;
 }

 .choose_seesion_centen {
     clear: both;
     padding-right: 0px;
     padding-top: 0.1rem;
     padding-bottom: 0px;
 }

 .choose_title {
     border: none;
 }

 .choose_seesion_time {
     font-size: 0.11rem !important;
     background: rgb(255, 243, 174);
     color: rgb(128, 128, 128);
     width: auto;
     padding-left: 0.1rem;
     padding-right: 0.1rem;
 }

 .peisongxinxi {
     margin-top: 0.1rem;
     background: #FFFFFF;
     padding-bottom: 0.14rem;
 }

 .peisongxinxi_type {
     padding: 0.14rem;
 }

 .choose_seesion {
     margin-top: 0px;
 }

 .peisongxinxi_mobile {
     padding: 0.14rem;
     height: 0.35rem;
 }

 .peisongxinxi_mobile p,
 .peisongxinxi_mobile input {
     float: left;
 }

 .peisongxinxi_mobile input {
     font-size: 0.15rem;
     border: none;
     outline: none;
 }

 .shenfenzhengliebiao_tishi {
     padding-top: 0.165rem;
     padding-bottom: 0.14rem;
     padding-left: 0.41rem;
     padding-right: 0.14rem;
     background: #FFFFFF;
     margin-top: 0.1rem;
     position: relative;
 }

 .shenfenzhengliebiao_tishi_span {
     margin-top: 0.07rem;
     display: block;
 }

 .touxiang {
     width: 0.2rem;
     height: 0.2rem;
     position: absolute;
     left: 0.14rem;
     top: 0.14rem;
 }

 .touxiang img {
     width: 100%;
 }

 .tianjiaBtn {
     padding: 0.14rem;
     background: #ffffff;
     text-align: center;
     position: relative;
 }

 .tianjiaBtn img {
     width: 0.17rem;
     height: 0.161rem;
     position: absolute;
     left: 30%;
     top: 50%;
     margin-top: -0.08rem;
 }

 .tianjiashouhuodizhi {
     padding: 0.37rem 0.14rem;
     background: #FFFFFF;
     margin-top: 0.1rem;
     position: relative;
 }

 .tianjiashouhuodizhi p {
     padding-left: 0.62rem;
 }

 .wrap {
     padding-bottom: 0.55rem !important;
 }

 .choose_seesion_time {
     width: 29% !important;
     height: 0.31rem;
     border: 1px solid rgb(179, 179, 179);
     border-radius: 0.04rem;
     text-align: center;
     line-height: 0.31rem;
     margin-right: 0.14rem;
     margin-bottom: 0.15rem;
     padding-left: 0px;
     padding-right: 0px;
 }

 .peisongxinxi {
     clear: both;
 }
