* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  min-height: 100%;
  padding-bottom: 0.5rem;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 14px;
}
/*------wrap-----------------*/
.wrap {
  width: 100%;
  padding-bottom: 0.1rem;
}
.data {
  width: 100%;
}
.data_list {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 0.745rem;
  position: relative;
}
.data_list p {
  padding-bottom: 0.08rem;
  color: #808080;
  font-size: 0.14rem;
}
.data_list_leftimg {
  position: absolute;
  left: 0.14rem;
  top: 0.18rem;
  width: 0.535rem;
  height: 0.485rem;
}
.data_list_leftimg img {
  width: 100%;
  height: 100%;
  border-radius: 0.04rem;
}
.name {
  padding-top: 0.18rem;
  color: #333333 !important;
  font-size: 0.18rem !important;
}
.font_color {
  color: #e9054d !important;
}
.yihexiaoshu {
  padding-bottom: 0.18rem !important;
}
table {
  width: 100%;
  margin-top: 0.1rem;
  border: none;
  background: #fcfcfc;
}
table .groups1 {
  width: 25%;
  height: 0.28rem;
  line-height: 0.28rem;
  text-align: center;
  color: #333333;
  font-size: 0.11rem;
  position: relative;
}
table .groups1:before {
  content: "";
  display: inline-block;
  width: 0.01rem;
  height: 0.15rem;
  background: #c1c1c1;
  position: absolute;
  top: 0.06rem;
  left: 0.93rem;
}
table .groups td {
  width: 25%;
  height: 0.50rem;
  text-align: center;
  color: #666666;
}
table .groups .admission {
  color: red;
}
table tr:nth-child(odd) td {
  background: #FFFFFF;
}
.groups1 {
  width: 33.33% !important;
}
table .groups1:before {
  left: 0rem !important;
}
.describe {
  height: auto !important;
}
.ptext {
  margin-bottom: 0.14rem;
}
.shuaxin {
  margin-top: -0.1rem;
}
.header {
  width: 100%;
  height: 0.5rem;
  background: #ffffff;
}
.header div {
  float: left;
  width: 33.33%;
  color: #b3b3b3;
  text-align: center;
  padding-top: 0.28rem;
}
.header div p {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.head_on {
  color: #333333;
  border-bottom: 0.02rem solid #ffdd10;
  padding-bottom: 0.06rem;
}
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 0.45rem;
  line-height: 0.45rem;
  background: #ffdd10;
}
.footer div {
  float: left;
  width: 50%;
  text-align: center;
}
.footer div p {
  font-size: 0.14rem;
  color: #333333;
}
