* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  padding-bottom: 0.45rem;
  background: #f4f4f4;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
.wrap {
  width: 100%;
  background: #F4F4F4;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}
/*--------头部的样式----------------*/
.header {
  height: 0.45rem;
  width: 100%;
  background: #2B2A2F;
  position: relative;
}
.headerL {
  position: absolute;
  left: 0px;
  top: 25%;
  width: 0.8rem;
  height: 0.45rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  text-align: left;
  padding-left: 0.15rem;
  font-size: 0.15rem;
}
.headerL span {
  margin-left: 0.05rem;
  font-family: "微软雅黑";
}
/*--------文字图片垂直对齐----------------*/
.headerLimg,
.weixinHeader {
  vertical-align: middle;
}
.headerC {
  text-align: center;
  line-height: 0.45rem;
  padding: 0 0.4rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  font-size: 0.15rem;
}
.headerR {
  position: absolute;
  right: 0px;
  top: 25%;
  width: 0.5rem;
  text-align: right;
  height: 0.45rem;
  color: #FFFFFF;
  padding-right: 0.15rem;
}
.section {
  width: 100%;
  margin-top: 0.065rem;
}
.tianjiadizhi {
  height: 0.4rem;
  width: 70%;
  margin-left: 15%;
  background: #FFDD10 ;
  color: #333333;
  font-size: 0.16rem;
  border-radius: 0.2rem;
  text-align: center;
  line-height: 0.4rem;
  margin-top: 0.245rem;
  font-family: "微软雅黑";
  vertical-align: middle;
}
.tianjiadizhi span img {
  width: 0.19rem;
  height: 0.19rem;
  margin-right: 0.085rem ;
  vertical-align: middle;
  margin-top: -0.05rem;
}
.dizhi {
  width: 100%;
  height: 1.2rem;
  background: #FFFFFF;
  padding: 0 0.2rem;
  display: none;
}
.xingmingshoujihao {
  width: 100%;
}
.xingmingshoujihao p {
  font-family: "微软雅黑";
  color: #333333;
  font-weight: bolder;
  font-size: 0.16rem;
  margin: 0.2rem 0;
}
.xingmingshoujihao p:nth-of-type(1) {
  float: left;
}
.xingmingshoujihao p:nth-of-type(2) {
  float: right;
  margin-right: 0.2rem;
}
.xiangxidizhi {
  width: 100%;
  clear: both;
  padding-right: 0.4rem;
  font-size: 0.16rem;
  color: #8F8F8F;
  position: relative;
}
.jianhao {
  position: absolute;
  right: 0.1rem;
  top: 0;
}
.jianhao img {
  height: 0.2rem;
}
.jianhaoF {
  position: relative;
}
.bianjidizhi {
  display: none;
  width: 100%;
  background: #FFFFFF;
}
.bianjidizhi ul li {
  padding-left: 0.14rem;
  font-size: 0.14rem;
  font-family: "微软雅黑";
  height: 0.6rem;
  line-height: 0.6rem;
  border-bottom: 1px solid #F9F9F9;
}
.bianjidizhi ul li input {
  width: 80%;
  height: 0.5rem;
  border: none;
  outline: none;
}
#bianjiJianhao {
  margin-top: 0.2rem;
}
.footer1 {
  width: 80%;
  height: 0.45rem !important;
  background: #FFDD10;
  color: #333333;
  font-size: 0.16rem;
  text-align: center;
  line-height: 0.45rem;
  margin-top: 0.43rem;
  border-radius: 0.225rem;
  margin-left: 10%;
}
.cuowutishi {
  width: 1.06rem;
  height: 0.52rem;
  text-align: center;
  line-height: 0.52rem;
  margin: 0 auto;
  background: #000000;
  opacity: 0.6;
  color: #ffffff;
  font-size: 0.12rem;
  border-radius: 0.04rem;
  margin-top: 0.13rem;
}
.bianjidizhi {
  display: block;
}
.footer1 {
  display: block;
}
.tishiColor::-webkit-input-placeholder {
  color: #E9054D ;
  font-family: "微软雅黑";
}
.header {
  height: 0.4rem;
  width: 100%;
  text-align: center !important;
  line-height: 0.4rem;
  background: #FFFFFF;
  margin-bottom: 0.1rem;
}
.tanchuan {
  width: 86%;
  position: fixed;
  left: 7%;
  top: 20%;
  border-radius: 0.1rem;
  background: #FFFFFF;
}
.centen {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 0.6rem;
  padding-bottom: 0.36rem;
}
.centen_p {
  text-align: center;
  font-size: 0.16rem;
  color: #333333;
}
.btn {
  padding-top: 0.19rem;
  padding-bottom: 0.21rem;
}
.queding_btn {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  background: #ffdd10;
  font-size: 0.16rem;
  color: #333333;
  border-radius: 0.12rem;
  padding: 0.12rem 0;
}
