* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
p {
  font-size: 0.14rem;
}
@media screen and (max-width: 320px) {
  .img_time {
    position: absolute;
    left: -0.15rem;
    top: 0.02rem;
  }
  .img_time1 {
    top: 0.02rem;
  }
}
/*修改*/
.h4 {
  font-size: 0.18rem;
}
.wrap {
  width: 100%;
  height: 100%;
  background: #F4F4F4;
  padding-top: 0.1rem;
}
.xiangqing_dazhixinxi {
  background: #FFFFFF;
}
.xiangqing_dazhixinxi_name {
  padding: 0px 0.14rem;
  text-align: center;
  color: #333333;
  font-size: 0.16rem;
  padding: 0.14rem;
  border-bottom: 1px solid #e6e6e6;
}
.xiangqing_dazhixinxi_num_price p {
  padding: 0.195rem 0.14rem 0.14rem 0.14rem;
  font-size: 0.14rem;
  color: #808080;
}
.xiangqing_dazhixinxi_num_price p span {
  font-size: 0.18rem;
  color: #e905ff;
}
.xiangqing_dazhixinxi_time p {
  padding-bottom: 0.07rem;
  padding-left: 0.14rem;
  padding-right: 0.14rem;
  color: #808080;
  font-size: 0.14rem;
}
.xiangqing_dazhixinxi_time p span {
  margin-left: 0.14rem;
}
.xiangqing_dazhixinxi_address {
  padding-left: 0.14rem;
  padding-right: 0.14rem;
  padding-bottom: 0.19rem;
  color: #808080;
  font-size: 0.14rem;
}
.goupiaorendianhua {
  background: #FFFFFF;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.goupiaorendianhua p {
  padding: 0.15rem 0.14rem;
  color: #333333;
  font-size: 0.14rem;
  border-bottom: 1px solid #e6e6e6;
}
.weizhi_piaojia_box {
  position: relative;
  background: #FFFFFF;
  border-bottom: 1px solid #e6e6e6;
  margin-top: 0.1rem;
}
.weizhi_box {
  padding: 0.18rem 0.14rem 0.14rem 0.14rem;
}
.weizhi_box p {
  color: #808080;
  font-size: 0.14rem;
}
.weizhi_box p span {
  color: #333333;
  font-size: 0.18rem !important;
  margin-left: 0.14rem;
}
.weizhi_box p span:nth-of-type(1) {
  margin-left: 0rem !important;
}
.piaojia_box {
  padding: 0.14rem 0.14rem 0.21rem 0.14rem;
}
.piaojia_box p {
  color: #808080;
  font-size: 0.14rem;
}
.piaojia_box p span {
  color: #e9054d;
  font-size: 0.18rem;
}
.xiangyoujianhao {
  width: 0.1rem;
  height: 0.19rem;
  position: absolute;
  right: 0.14rem;
  top: 50%;
  margin-top: -0.05rem;
}
.xiangyoujianhao img {
  width: 100%;
}
.weibangdingshoujihao_tishi {
  position: absolute;
  right: 0.48rem;
  bottom: 0.21rem;
  font-size: 0.12rem;
  color: #e9054d;
}
.dinghanhao_xiadantime_kouqian_box {
  margin-top: 0.1rem;
  background: #FFFFFF;
}
.dingdanhao_box {
  padding: 0.18rem 0 0 0.14rem;
  color: #333333;
  font-size: 0.13rem;
}
.xiadantime_box {
  padding: 0.14rem 0 0.18rem 0.14rem;
  color: #333333;
  font-size: 0.13rem;
  border-bottom: 1px solid #e6e6e6;
}
.kouqian_box {
  padding: 0.18rem 0.14rem;
  height: 0.76rem;
}
.kouqian_box div {
  clear: both;
}
.kouqian_box div p {
  margin-bottom: 0.14rem !important;
}
.kouqian_box div p:nth-of-type(1) {
  float: left;
  color: #333333;
  font-size: 0.13rem;
}
.kouqian_box div p:nth-of-type(2) {
  float: right;
  color: #e9054d;
  font-size: 0.13rem;
}
.kouqian_box_kouqian {
  color: #333333 !important;
}
.peisongxinxi {
  padding: 0.14rem 0.14rem;
  background: #FFFFFF;
  border-bottom: 1px solid #e6e6e6;
}
.peisongxinxi_wenzi,
.peisongxinxi_name,
.peisongxinxi_mobile {
  color: #333333;
  font-size: 0.14rem;
  margin-bottom: 0.1rem;
}
.peisongxinxi_name {
  float: left;
}
.peisongxinxi_mobile {
  float: right;
}
.peisongxinxi_address {
  clear: both;
  color: #808080;
}
.peisongzhuangtai {
  padding: 0.18rem 0.14rem;
  background: #FFFFFF;
}
.peisongzhuangtai div {
  font-size: 0.13rem;
  color: #333333;
}
.peisongzhuangtai div:nth-of-type(1) {
  margin-bottom: 0.14rem;
}
.peisongzhuangtai div span {
  font-size: 0.13rem;
  color: #e9054d;
}
