* {
	padding: 0;
	margin: 0;
}

html,
body,
.wrap {
	width: 100%;
	min-height: 100%;
	background: rgb(101, 98, 151);
}

input,
select,
button,
textarea {
	-webkit-appearance: none;
}

li {
	list-style: none;
}

.full {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

html {
	font-size: 100px;
}

body,
.wrap {
	font-size: 12px;
}


/*------wrap-----------------*/

.wrap {
	width: 100%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
}


/*自助积分 */

.takePicture,
.pointrecord {
	margin: .1rem;
	background: #fff;
	border-radius: .04rem;
}

.takePictureH {
	line-height: .38rem;
	border-bottom: 1px solid rgb(230, 230, 230);
	text-align: center;
	font-size: .15rem;
	color: rgb(51, 51, 51);
}

.illustrate {
	padding: .1rem;
	color: rgb(102, 102, 102);
	font-size: .12rem;
}

.illustrate p {
	line-height: .2rem;
}


/*结账单*/

.statement {
	margin: .1rem;
	border: 1px solid rgb(230, 230, 230);
}

.statement img {
	width: 100% !important;
	height: 100% !important;
	display: block;
}

.statementH {
	text-align: center;
	font-size: .14rem;
	color: rgb(29, 29, 29);
	padding: 0.1rem .3rem 0rem .3rem;
}

.statementC {
	font-size: .14rem;
	color: rgb(29, 29, 29);
	line-height: .2rem;
	margin-bottom: .28rem;
	padding: 0.1rem .3rem 0rem .3rem;
}


/*商品  数量 金额*/

.commodityBox {
	padding: 0rem .3rem 0rem .3rem;
}

.commoditylist {
	margin-bottom: .1rem;
}

.commoditylistPs {
	display: flex;
	-webkit-flex-direction: row;
}

.commoditylist p {
	flex: 1;
	overflow: hidden;
}

.commoditylist p:nth-of-type(2) {
	text-align: center;
}

.commoditylist p:nth-of-type(3) {
	text-align: right;
}

.subtotal {
	font-size: .13rem;
	color: rgb(29, 29, 29);
	margin-bottom: .34rem;
}

.money {
	font-size: .16rem;
	color: rgb(29, 29, 29);
	margin-bottom: .18rem;
	padding-left: .3rem;
}

.uploading {
	width: 60%;
	height: .4rem;
	line-height: .4rem;
	background: rgb(255, 221, 16);
	border-radius: .2rem;
	margin: .1rem 20%;
	font-size: .16rem;
	color: rgb(51, 51, 51);
	text-align: center;
}

.pointrecord {}


/*记录*/

.pointrecordH {
	line-height: .38rem;
	text-align: center;
	font-size: .15rem;
	color: rgb(51, 51, 51);
}

.recordBox {
	margin-bottom: .1rem;
}

.recordList {
	padding: .1rem;
	border-top: 1px solid rgb(230, 230, 230);
}

.recordList div {
	display: flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
}

.recordList div p {
	/*flex: 1;*/
	line-height: .2rem;
}

.recordList div p:nth-of-type(2) {
	text-align: right;
}

.zpoint {
	font-size: .14rem;
	color: rgb(51, 51, 51);
}

.state {
	font-size: .12rem;
}

.stateR {
	color: rgb(233, 5, 77);
}

.stateG {
	color: rgb(0, 192, 163);
}

.needpoint,
.seedetails {
	font-size: .12rem;
	color: rgb(102, 102, 102);
}


/*积分记录tab*/

.tab {
	height: .88rem;
	background: rgb(255, 221, 16);
}

.tab div {
	width: 50%;
	float: left;
	text-align: center;
	margin-top: .2rem;
}

.tab div p:nth-of-type(1) {
	font-size: .22rem;
	color: rgb(29, 29, 29);
	margin-bottom: .05rem;
}

.tab div p:nth-of-type(2) {
	font-size: .13rem;
	color: rgb(29, 29, 29);
}


/*重拍  确认上传*/

.uploadingTrue {
	width: 80%;
	margin-left: 10%;
	background: none;
	display: none;
}

.uploadingTrue p {
	border-radius: .2rem;
	background: rgb(255, 221, 16);
	float: left;
	width: 40%;
}

.uploadingTrue p:nth-of-type(1) {
	margin-right: 20%;
}

.norecord {
	display: none;
	line-height: .3rem;
	font-size: .15rem;
	color: rgb(51, 51, 51);
	text-align: center;
	border-top: 1px solid #ccc;
}


/*红色下边线*/

.borR {
	border-bottom: 2px dashed rgb(233, 5, 77);
}

#div1 {
	position: relative;
}

.parkingImg {
	position: absolute;
	left: 20%;
	top: 50%;
	margin-top: -.075rem;
	height: .15rem;
}

.img_wrap {
	width: 94%;
	margin-left: 3%;
}