* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
.wrap {
  width: 100%;
  height: 100%;
  background: #F2F2F2;
}
/*--------头部的样式----------------*/
.header {
  height: 0.45rem;
  width: 100%;
  background: #2B2A2F;
  position: relative;
}
.headerL {
  position: absolute;
  left: 0px;
  top: 25%;
  width: 0.8rem;
  height: 0.45rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  text-align: left;
  padding-left: 0.15rem;
  font-size: 0.16rem;
}
.headerL span {
  margin-left: 0.05rem;
  font-family: "微软雅黑";
}
/*--------文字图片垂直对齐----------------*/
.headerLimg,
.weixinHeader {
  vertical-align: middle;
}
.headerC {
  text-align: center;
  line-height: 0.45rem;
  padding: 0 0.4rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  font-size: 0.16rem;
}
.headerR {
  position: absolute;
  right: 0px;
  top: 25%;
  width: 0.5rem;
  text-align: right;
  height: 0.45rem;
  color: #FFFFFF;
  padding-right: 0.15rem;
}
.section {
  width: 100%;
  background: #EBEBEB;
}
.tab {
  width: 100%;
  height: 0.505rem;
  background: #FFFFFF;
  font-size: 0.14rem;
}
.leftJifen,
.rightJinbi {
  text-align: center;
  float: left;
  width: 50%;
  font-family: "微软雅黑";
  height: 0.505rem;
  line-height: 0.505rem;
  font-size: 0.14rem;
}
.leftJifen p,
.rightJinbi p {
  width: 50%;
  color: #B3B3B3;
  margin-left: 33%;
}
.rightJinbi p {
  width: 50%;
  margin-left: 14% !important;
}
.tabOn {
  color: #333333 !important;
  border-bottom: 2px solid #FDD01F;
}
.neirong {
  width: 100%;
  background: #FFFFFF;
 /* margin-top: .1rem;*/
}
.neirongTop {
  width: 100%;
  position: relative;
}
.neirongTop ul li {
  clear: both;
  height: 0.85rem;
  width: 100%;
}
.neirongTop ul li div {
  float: left;
}
.yizhifuneirongT {
  background: #fff;
  border-top: 1px solid #F2F2F2;
}
.gengduo {
  position: absolute;
  right: 0.14rem;
  top: 50%;
  margin-top: -0.1rem;
}
.gengduo img {
  height: 0.2rem;
}
.topimg {
  width: 90%;
  padding-top: 0.18rem;
  padding-left: 0.14rem;
  font-family: "微软雅黑";
}
.topimg h4 {
  font-size: 0.14rem;
  color: #333333;
  font-family: "微软雅黑";
  margin-bottom: 0.14rem;
}
.topimg p {
  position: relative;
  color: #B3B3B3;
  font-size: 0.11rem;
  font-family: "微软雅黑";
}
.topimg p span {
  margin-right: 0.3rem;
}
.goupiaoNo {
  width: 100%;
  text-align: center;
  padding-top: 0.825rem;
}
.goupiaoNo img {
  height: 1.245rem;
}
.goupiaoNo h2 {
  color: #9E9E9E;
  font-family: "微软雅黑";
  font-size: 0.22rem;
  color: #333333;
  margin-top: 0.69rem;
}
.goupiaoNo div {
  width: 35%;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-top: 0.405rem;
  margin-left: 32.5%;
  text-align: center;
  font-family: "微软雅黑";
  background: #FFDD10;
  font-size: 0.16rem;
  border-radius: 0.2rem;
}
.anniu {
  width: 100%;
  padding-bottom: 0.1rem;
  border-top: 1px solid #F2F2F2;
  background: #FFFFFF;
}
.anniu div {
  width: 2.4rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  color: #333333;
  font-size: 0.16rem;
  border-radius: 0.2rem;
  font-family: "微软雅黑";
  margin: 0 auto;
  margin-top: 0.18rem;
  margin-bottom: 0.15rem;
}
.shouhuodizhitishi {
  clear: both;
  width: 100%;
  text-align: center;
  font-family: "微软雅黑";
  color: #EB175A ;
}
.quxiaodingdan {
  border: 2px solid #FFE023;
  margin-left: 0.55rem;
}
.zhifu {
  background: #FFE023;
  margin-left: 0.22rem;
}
.mengceng {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #000000;
  display: none;
}
.quxiaodingyaoBox {
  display: none;
  position: fixed;
  left: 0.325rem;
  top: 0px;
  width: 3.1rem;
  height: 1.99rem;
  margin-top: 0.6rem;
  background: #FFFFFF;
  border-radius: 0.2rem;
  color: #333333;
}
.quxiaodingyaoBox p {
  width: 100%;
  font-size: 0.16rem;
  color: #333333;
  text-align: center;
  font-family: "微软雅黑";
  padding-top: 0.625rem;
}
.gochongzhiBox {
  display: none;
  position: fixed;
  left: 0.325rem;
  top: 0px;
  width: 3.1rem;
  height: 1.99rem;
  margin-top: 0.6rem;
  background: #FFFFFF;
  border-radius: 0.2rem;
  color: #333333;
}
.gochongzhiBox p {
  width: 100%;
  font-size: 0.16rem;
  color: #333333;
  text-align: center;
  font-family: "微软雅黑";
  padding-top: 0.625rem;
}
.anniuQx {
  margin-top: 0.5rem;
}
.anniuQx div {
  margin-top: 0.12rem;
}
.quxiaodingdanQx {
  margin-left: 0.2rem;
}
#chongzhiBtn {
  text-align: center;
  margin-left: 0.95rem;
  background: #FFE023;
}
#jifenNo {
  /*display: none;*/
}
.gengduo1 {
  top: 43%;
}
.neirong .yizhifuneirongT:nth-child(2) {
  border-top: none !important;
}
.topimg {
  width: 90% !important;
}
.topimg p {
  padding-bottom: 0.1rem;
}
