* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    min-height: 100%;
    /*background: #190736;*/
}

html {
    font-size: 100px;
}

body {
    font-size: 12px;
}
input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}
.wrap {
    position: relative;
}

#title {
    width: 100%;
    height: 150px;
}

#title img {
    width: 100%;
    height: 100%;
}

.shanDeng, .shanDeng2 {
    width: 69%;
    /* height: 356px; */
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 0.05rem;
    padding: 0.25rem 0;
}

.shanDeng {
    /*background-image: url(/weixin/shop/picChristmas/shandeng1.png);*/
    /*position: relative;*/
}

.shanDeng2 {
    /*background-image: url(/weixin/shop/picChristmas/shandeng2.png);*/
}

#btn .cjBtnDom, #btn .cjBtn, .shanDeng .active, .shanDeng tr {
    width: 100%;
}

#btn .cjBtnDom, #btn .cjBtn, .shanDeng .active, .shanDeng td {
    width: 0.5rem;
    height: 0.5rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#btn .cjBtnDom, #btn .cjBtn, .shanDeng .active, .shanDeng td img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

#btn.cjBtn {
    background-image: url(/weixin/shop/picChristmas/btnnew_up.png);
}

#btn.cjBtnDom {
    background-image: url(/weixin/shop/picChristmas/btnnew_down.png);
}

#luck .active1 {
    background-image: url(/weixin/shop/picChristmas/active.png);
}

.shanDeng td {
    text-align: center;
    background-image: url(/weixin/shop/picChristmas/smallbg.png);
}

.shanDeng td span {
    border-radius: 0.04rem;
    width: 0.5rem;
    height: 0.5rem;
    display: block;
}

.shanDeng td span img {
    border-radius: 0.04rem;
    width: 100%;
    height: 100%;
    display: block;
}

.shanDeng table {
    /*padding: 25px 0px 0px 33px ;*/
    margin: 0 auto;
    /*margin-top: 0.1rem;*/
}

.top {
    width: 100%;
    height: 3.05rem;
    background-image: url(/weixin/shop/picNewYear/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 1.68rem;
}

.yaobot {
    display: none;
}

.yaotop, .yaobot {
    width: 0.38rem;
    height: 1rem;
    position: absolute;
    right: -0.45rem;
    bottom: 0.65rem;
}

.yaotop img, .yaobot img {
    width: 100%;
    height: auto;
    display: block;
}

#luck {
    margin-left: -0.05rem;
    margin-top: -0.03rem;
}

.tbBg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #000000;
    opacity: 0;
}

#luck .active2 {
    opacity: 0 !important;
}

.checked {
    width: 100%;
    height: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    background-image: url(/weixin/shop/picNewYear/checked.jpg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.checkedJiang {
    position: absolute;
    left: 21%;
    bottom: 0.22rem;
    width: 58%;
    height: 0.5rem;
    color: #ffffff;
    font-size: .15rem;
    text-align: center;
    line-height: .4rem;
}
.activeState {
    width: 100%;
    height: 2.3rem;
    background-image: url(/weixin/shop/picNewYear/activeState.jpg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0.15rem;
}
.zhongLsit{
    width: 100%;
    height: 3.4rem;
    background-image: url(/weixin/shop/picNewYear/zhongList.jpg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 0.15rem;
}
.null {
    width: 100%;
    height: 1rem;
    text-align: center;
}

.null p:nth-of-type(1) {
    font-size: 0.24rem;
    font-weight: bold;
    padding-top: .1rem;
}

.null p:nth-of-type(2) {
    font-size: 0.15rem;
    color: #ffffff;
    padding-top: 0.1rem;
}
.zhongLsitNull{
    width: 100%;
    height: 1.6rem;
    text-align: center;
}
.zhongLsitNull p{
    font-size: 0.24rem;
    font-weight: bold;
    padding-top: 0.69rem;
}
.prizeIntroduce {
    width: 100%;
    /*height: 2.65rem;*/
    text-align: center;
    background-image: url(/weixin/shop/picNewYear/prizeIntroduce.png);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.prizeIntroducenull {
    width: 100%;
    height: 1.2rem;
}

.prizeIntroducenull p{
    font-size: 0.24rem;
    font-weight: bold;
    padding-top: .44rem;
}

.prizeIntroduce_list {
    width: 25%;
    float: left;
    text-align: center;
}

.swiper-slide div:first-child {
    margin-left: 13%;
}

.activeIntroduce {
    width: 100%;
    /*height: 2.65rem;*/
    text-align: center;
    background-image: url(/weixin/shop/picNewYear/prizeIntroduce.png);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100%;
}

.swiper-pagination-bullet {
    opacity: .6;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFDD10;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 1.3rem;
}

.start_time p, .end_time p {
    font-size: 0.15rem;
    margin-bottom: 0.1rem;
    text-align: center;
}

.prize {
    font-size: 0.12rem;
    text-align: center;
    margin-left: 0px !important;
}

.number {
    color: #EB4894;
    font-size: 0.12rem;
}


/*绑定手机*/

.maskContent {
    height: 100%;
}

.alertkuang_img {
    width: 110%;
    height: auto;
    margin-left: -3%;
}

.alertkuang_img img {
    width: 100%;
    height: auto;
    display: block;
}

.alertkuang {
    display: none;
    width: 3.1rem;
    /*height: 4rem;*/
    margin-top: 1rem;
    margin-left: 0.325rem;
    position: fixed;
    z-index: 555;
    border-radius: 0.14rem;
    text-align: center;
    left: 0px;
    top: 0px;
    /*修改  8.24*/

}

.alertkuang_bot {
    background: rgb(255, 255, 255);
    padding-bottom: 0.2rem;
    border-bottom-right-radius: .1rem;
    border-bottom-left-radius: .1rem;
    overflow: hidden;
}
.alertkuang_botnew{
    border-radius: .1rem;
}

.get_code_f {
    position: relative;
}

.palert {
    color:#ffffff;
    font-size: 0.18rem;
    font-weight: bold;
    padding-top: 0.155rem;
    padding-bottom: 0.155rem;
    background: #FF002B;
}

.inp1 {
    width: 2.82rem;
    height: 0.57rem;
    border: 1px solid rgb(227, 227, 227);
    margin-top: 0.19rem;
    text-indent: 10px;
    position: relative;
    display: inline-block;
}

.inp2 {
    width: 2.82rem;
    height: 0.57rem;
    border: 1px solid rgb(227, 227, 227);
    text-indent: 10px;
    border-top: none;
}

.quxiao {
    display: inline-block;
    width: 1.20rem;
    height: 0.40rem;
    text-align: center;
    line-height: 0.40rem;
    border-radius: 0.50rem;
    border: 1px solid #FF002B;
    font-size: 0.16rem;
    color: #FF002B;
    margin-top: 0.20rem;
}

.queding {
    display: inline-block;
    width: 1.20rem;
    height: 0.40rem;
    text-align: center;
    line-height: 0.40rem;
    border-radius: 0.50rem;
    background: #FF002B;
    font-size: 0.16rem;
    color: #ffffff;
    margin-top: 0.20rem;
    margin-left: 0.22rem;
}

.hr2 {
    margin-top: 0.29rem;
    width: 100%;
    margin-left: 0rem;
    background-color: rgb(230, 230, 230);
    height: 1px;
    border: none;
}

.yanzhengma {
    display: inline-block;
    width: 1.015rem;
    height: 0.25rem;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.25rem;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(255, 211, 16);
    position: absolute;
    outline: none;
    border-radius: 0.50rem;
    z-index: 10;
    top: 0.35rem;
    left: 1.80rem;
    background: #ffffff;
}

.zhoangalert_img {
    height: 1.6rem;
    background-image: url(/weixin/shop/picChristmas/pop4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: -5%;
    padding-top: 0.4rem;
}

.quedingone {
    width: 80%;
    margin: 0 auto;
    margin-top: 0.2rem;
    font-size: 0.16rem;
    color: #ffffff;
    border: none;
}

.jiangimage {
    width: 0.68rem !important;
    height: 0.68rem !important;
    display: block;
    border-radius: 100%;
    margin: 0 auto;
}

.jiangName {
    margin: 0 auto;
    margin-top: 0.2rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.15rem;
    width: 80%;
}

.thankesalert {
    height: 2.4rem;
    background-image: url(/weixin/shop/picChristmas/pop2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.thankesalerttishi {
    padding-top: 1.15rem;
    text-align: center;
    font-size: .2rem;
    color: #ffffff;
    padding-bottom: 0.2rem;
}

.jinfenBIndmobile_img, .jinfenBIndmobile_img1 {
    width: 100%;
    margin-left: 0 !important;
    height: 1rem;
    background-image: url(/weixin/shop/picChristmas/pop3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.jinfenBIndmobile_img p {
    font-size: 0.18rem;
    color: #ffffff;
    padding: 0.15rem;
    padding-top: 0.2rem;
    line-height: 0.3rem;
    text-align: left;
}

.jinfenBIndmobile_img1 p {
    font-size: 0.18rem;
    color: #ffffff;
    padding: 0.15rem;
    line-height: 0.22rem;
    text-align: left;
}

.activeIntroduce_null {
    height: 0.95rem;
}

.activeIntroduce_null p:nth-of-type(1) {
    padding-top: 0.45rem !important;
}

.centenIntroduce {
    width: 100%;
    margin:  0 auto;
    text-align: left;
    min-height: 1.3rem;
    background: #523176;
}

.centenIntroduce p {
    line-height: 0.22rem;
    overflow: hidden;
    margin: .2rem .2rem 0rem .2rem;
    padding-bottom: .2rem;
}

/*活动停止*/
/*html,body{
    background: rgb(244, 244, 244);
}*/
.noData_img{
    width: 40%;
    margin-left: 30%;
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
}
.noData_img img{
    width: 100%;
    display: block;
}
.noData_text{
    font-size: 0.22rem;
    color: rgb(51,51,51);
    text-align: center;
}
.showAddress input{
    width: 3rem;
    height: 0.45rem;
    background: #fff;
    border: none;
    outline: none;
    padding-left: 0.1rem;
    border-bottom: 1px solid #ccc;
    border-radius: 0px !important;
}
.showAddress_p{
    text-align: center !important;
}
.img{
    width:0.5rem;
    height: 0.5rem;
    margin: 0 auto;
    border-radius: 0.04rem;
}
.img img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0.04rem;
}

/*中奖列表*/
#con {
	width:75%;
	height:1.2rem;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

#con ul {
	position: relative;
	margin: 0px 10px 0px 10px;
	top: 0;
	left: 0;
	padding: 0;
}

#con ul li {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	width: 100%;
    text-align: center;
	padding: 10px 0;
	_padding: 8px 0;
	overflow: hidden;
	line-height: 0.22rem;
    font-size: 0.12rem;
}
.zhongLsitNull{
    height: 1.4rem;
}
.showAddress{
     display: block !important;
}
.shezhi_tishi{
    border-radius: 0.04rem;
    background: #000000;
    opacity: 0.7;
    position: fixed;
    padding: 0.07rem 0.14rem;
    left: 0px;
    top: 30%;
    color: #FFFFFF;
    text-align: center;
    display: none;
    z-index: 888;
}
