* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html{
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: #F4F4F4;
}
/*--------头部的样式----------------*/
.header {
  height: 0.45rem;
  width: 100%;
  background: #2B2A2F;
  position: relative;
}
.headerL {
  position: absolute;
  left: 0px;
  top: 25%;
  width: 0.8rem;
  height: 0.45rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  text-align: left;
  padding-left: 0.15rem;
  font-size: 0.15rem;
}
.headerL span {
  margin-left: 0.05rem;
  font-family: "微软雅黑";
}
/*--------文字图片垂直对齐----------------*/
.headerLimg,
.weixinHeader {
  vertical-align: middle;
}
.headerC {
  text-align: center;
  line-height: 0.45rem;
  padding: 0 0.4rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  font-size: 0.15rem;
}
.headerR {
  position: absolute;
  right: 0px;
  top: 25%;
  width: 0.5rem;
  text-align: right;
  height: 0.45rem;
  color: #FFFFFF;
  padding-right: 0.15rem;
}
.section {
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
}
.yanzheng {
  width: 100%;
  height: 100%;
  padding: 0.1rem;
}
.shoujihao {
  width: 75%;
  height: 0.45rem;
  border-bottom: 1px solid #ccc;
  margin-left: 12.5%;
}
.shoujihao #shoujihao {
  width: 50%;
  float: left;
  font-family: "微软雅黑";
  font-size: 0.16rem;
  border: none;
  outline: none;
  margin-top: 0.2rem;
  color: #808080;
  background: transparent;
}
.yanzhengma {
  width: 75%;
  height: 0.45rem;
  border-bottom: 1px solid #ccc;
  margin-left: 12.5%;
}
.yanzhengma input {
  width: 66%;
  margin-top: 0.2rem;
  font-family: "微软雅黑";
  font-size: 0.16rem;
  border: none;
  outline: none;
  background: transparent;
}
.getyzm {
  width: 1.015rem;
  height: auto;
  float: right;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.1rem;
  line-height: 0.25rem;
  font-family: "微软雅黑";
  font-size: 0.15rem;
  margin-top: 0.12rem;
  background: #FFFFFF;
  outline: none;
}
.boundBtn {
  width: 75%;
  height: 0.45rem;
  background: #CCCCCC;
  color: #7A7A7A;
  font-family: "微软雅黑";
  font-size: 0.16rem;
  margin-top: 0.5rem;
  margin-left: 12.5%;
  border-radius: 0.225rem;
  outline: none;
  border: none;
}
.mengceng {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #000000;
  opacity: 0.7;
  padding-top: 1rem;
}
.mengceng img {
  width: 60%;
  margin-left: 20%;
  margin-top: -0.25rem;
}
.mengceng p {
  text-align: center;
  font-family: "微软雅黑";
}
.mengceng p:nth-of-type(1) {
  color: #FFF7FA;
  font-size: 0.15rem;
  margin-bottom: 0.06rem;
}
.mengceng p:nth-of-type(2) {
  position: relative;
  color: #FFDD10;
  font-size: 0.2rem;
}
.mengceng p:nth-of-type(2) span {
  font-size: 0.3rem;
  position: absolute;
  left: 35%;
  top: -0.1rem;
}
