* {
    margin: 0px;
    padding: 0px;
}

html,
body,
.wrap {
    width: 100%;
    min-height: 100%;
    background: rgb(244, 244, 244);
}

html {
    font-size: 100px;
}

body,
.wrap {
    font-size: 14px;
}

.img_state {
    width: 0.685rem;
    height: 0.7rem;
    position: absolute;
    right: 0.48rem;
    top: 50%;
    margin-top: -0.38rem;
}

.img_state img {
    width: 100%;
    height: 100%;
}

/*没有订单的时候*/

.goupiaoNo {
    width: 100%;
    text-align: center;
    padding-top: 0.825rem;
}

.goupiaoNo img {
    height: 1.245rem;
}

.goupiaoNo h2 {
    color: #9E9E9E;
    font-size: 0.14rem;
    font-weight: normal;
    color: #808080;
}

.goupiaoNo div {
    width: 50%;
    height: 0.4rem;
    line-height: 0.4rem;
    margin-top: 0.14rem;
    margin-left: 25%;
    text-align: center;
    background: #FFDD10;
    font-size: 0.16rem;
    border-radius: 0.2rem;
}

/*订单页 新增  商品 图片     5.9*/

.product_img {
    width: 0.532rem;
    height: 0.482rem;
    position: absolute;
    left: 0.14rem;
    /*top: 32%;*/
    top: 50%;
    margin-top: -0.26rem;
    border-radius: 0.04rem;
}

.product_img img {
    width: 100%;
    height: 100%;
    border-radius: 0.04rem;
}

.dingdan_list {
    padding-left: 0.745rem;
}

.dingdan_list_number_state {
    padding-top: 0px !important;
}

.goaddress {
    width: 60%;
    height: .4rem;
    margin-left: 9%;
    text-align: center;
    line-height: .4rem;
    border-radius: .2rem;
    background: rgb(255, 221, 16);
    margin-top: .1rem;
}

.dingdan_list {
    padding-bottom: .1rem;
}

.addtime {
    height: .32rem;
    line-height: .32rem;
    border-bottom: 1px solid rgb(230, 230, 230);
    font-size: .14rem;
    color: rgb(179, 179, 179);
    position: relative;
    padding-left: .14rem;
}

.rtImg {
    height: .32rem;
    position: absolute;
    right: 0px;
    top: 0px;

}
