* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
.wrap {
  width: 100%;
  background: #F2F2F2 !important;
  padding-bottom: 0.1rem;
}
/*--------头部的样式----------------*/
.header {
  height: 0.45rem;
  width: 100%;
  background: #2B2A2F;
  position: relative;
}
.headerL {
  position: absolute;
  left: 0;
  top: 25%;
  width: 0.8rem;
  height: 0.45rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  text-align: left;
  padding-left: 0.15rem;
}
.headerL span {
  margin-left: 0.05rem;
  font-family: "微软雅黑";
}
/*--------文字图片垂直对齐----------------*/
.headerLimg,
.weixinHeader {
  vertical-align: middle;
}
.headerC {
  text-align: center;
  line-height: 0.45rem;
  padding: 0 0.4rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
}
.headerR {
  position: absolute;
  right: 0;
  top: 25%;
  width: 0.5rem;
  text-align: right;
  height: 0.45rem;
  color: #FFFFFF;
  padding-right: 0.15rem;
}
.section {
  width: 100%;
  background: #EBEBEB;
}
.zhanshi {
  width: 100%;
  height: 2.125rem;
  background: url("../pic/img_bg.png") no-repeat;
  background-size: 100%;
}
.zhanshi ul {
  width: 100%;
  height: 100%;
  text-align: center;
}
.zhanshi ul li:nth-of-type(1) {
  padding-top: 0.44rem;
}
.zhanshi ul li:nth-of-type(2) {
  font-family: "微软雅黑";
  height: 0.275rem;
}
.zhanshi ul li:nth-of-type(2) div {
  text-align: center;
  height: 0.275rem;
  line-height: 0.275rem;
}
.zhanshi ul li:nth-of-type(2) div p {
  margin-left: 0.285rem;
  text-align: center;
  display: inline-block;
  position: relative;
}
.zhanshi ul li:nth-of-type(2) div p span {
  vertical-align: middle;
}
.zhanshi ul li:nth-of-type(2) div p span:nth-of-type(1) {
  padding-right: 0 !important;
  border-radius: 0.1rem;
  width: 0.285rem;
  height: 0.275rem;
}
.zhanshi ul li:nth-of-type(2) div p span:nth-of-type(1) img {
  width: 0.285rem;
  height: 0.275rem;
}
.zhanshi ul li:nth-of-type(2) div p span:nth-of-type(2) {
  font-size: 0.14rem;
  color: #fff;
  line-height: 0.275rem;
}
.zhanshi ul li:nth-of-type(2) div p img {
  vertical-align: middle;
  width: 100%;
}
.zhanshi ul li:nth-of-type(3) {
  height: 0.3rem;
  font-family: "微软雅黑";
}
.zhanshi ul li:nth-of-type(3) div {
  width: 100%;
  height: 0.3rem;
  text-align: center;
}
.zhanshi ul li:nth-of-type(3) div p {
  margin-top: 0.1rem;
  width: 32%;
  margin-left: 33.5%;
  line-height: 0.3rem;
  font-size: 0.14rem;
  border-radius: 0.15rem;
  color: #333333;
  background: #FFDD10;
}
#vipHeise {
  position: absolute;
  top: -0.02rem;
  left: -0.285rem;
}
.tab {
  width: 100%;
  height: 0.62rem;
  background: #FFFFFF;
}
.leftJifen,
.rightJinbi {
  text-align: center;
  float: left;
  width: 50%;
  font-family: "微软雅黑";
  height: 0.6rem;
  font-size: 0.15rem;
}
.leftJifen ul,
.rightJinbi ul {
  border-right: 1px solid #F2F2F2;
  margin-top: 0.1rem;
}
.leftJifen ul li,
.rightJinbi ul li {
  width: 100%;
  height: 0.25rem;
  line-height: 0.25rem;
}
.leftJifen ul li:nth-of-type(2),
.rightJinbi ul li:nth-of-type(2) {
  color: #EB175A;
}
.rightJinbi ul {
  border-right: none;
}
.touimg {
  width: 0.82rem;
  height: 0.82rem;
  margin: 0 auto;
  border-radius: 100%;
}
.touimg img {
  width: 100%;
  height: 100%;
}
.neirong {
  width: 100%;
  padding: 0 0.1rem;
  background: #FFFFFF;
  margin-top: 0.1rem;
}
.neirongTop {
  width: 100%;
}
.neirongTop ul li {
  clear: both;
  height: 0.6rem;
  width: 100%;
  border-bottom: 1px solid #F2F2F2;
}
.neirongTop ul li:last-child {
  border-bottom: none;
}
.neirongTop ul li div {
  float: left;
}
.topimg {
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.18rem;
  margin-left: 0.04rem;
}
.topimg img {
  width: 100%;
}
.wenzi {
  margin-left: 0.24rem;
  line-height: 0.6rem;
  font-size: 0.14rem;
  font-family: "微软雅黑";
  color: #333333;
}
.gengduo {
  float: right !important;
  margin-top: 0.2rem;
}
.gengduo img {
  height: 0.2rem;
  margin-right: 0.14rem;
}
.neirongB {
  height: 1.8rem !important;
}
.neirongBottom ul li:nth-of-type(1) {
  position: relative;
}
.tebeitixing {
  color: red;
  position: absolute;
  right: 0.35rem;
  top: 50%;
  margin-top: -0.08rem;
  font-family: "微软雅黑";
}
.CBAxunzhang {
  display: none;
  width: 80%;
  height: 3.8rem;
  background: #fff;
  position: fixed;
  left: 10%;
  top: 0.75rem;
  border-radius: 0.1rem;
}
.CBAxunzhang h2 {
  text-align: center;
  font-family: "微软雅黑";
  margin-top: 0.555rem;
  font-weight: normal;
  font-size: 0.16rem;
  color: #333333;
}
.CBAxunzhang p {
  font-size: 0.13rem;
  color: #808080;
  line-height: 0.20rem;
  padding: 0.15rem 0.4rem;
}
.qiandaoxiangqing {
  display: none;
  width: 75%;
  height: 4.1rem;
  background: #fff;
  position: fixed;
  left: 12.5%;
  top: 0.5rem;
  border-radius: 0.15rem;
  padding: 0.1rem;
}
.qiandaoxiangqing h2 {
  text-align: center;
  font-family: "微软雅黑";
  margin: 0.25rem 0 0.2rem;
  font-weight: normal;
}
.qiandaoxiangqing p {
  font-family: "微软雅黑";
  font-size: 0.12rem;
  color: #8A8A8A;
  text-align: center;
  margin-top: 0.08rem;
}
.iknow {
  width: 80%;
  height: 0.4rem;
  text-align: center;
  margin-left: 10%;
  line-height: 0.4rem;
  color: #333333;
  background: #FFDD10;
  border-radius: 0.2rem;
  margin-top: 0.1rem;
  font-size: 0.16rem;
}
.qiandaowenzi {
  margin-top: 0.15rem !important;
  background: url("../pic/botton.png") no-repeat;
  background-size: 100%;
  font-size: 0.16rem;
  color: #333333;
}
.closeBtn {
  position: absolute;
  right: 0.16rem;
  top: 0.1rem;
  width: 0.14rem;
  height: 0.14rem;
  text-align: center;
  line-height: 0.14rem;
  font-family: "微软雅黑";
  font-size: 0.14rem;
}
.closeBtn img {
  width: 100%;
  height: 100%;
}
.guocheng {
  height: 2.25rem;
}
.guocheng ul {
  width: 70%;
  text-align: center;
}
.guocheng ul li {
  position: relative;
  font-size: 0.12rem;
  font-family: "微软雅黑";
  color: #808080;
}
.mobile {
  float: right !important;
  height: 0.6rem;
  line-height: 0.6rem;
  font-family: "微软雅黑";
  font-size: 0.14rem;
  color: #333333;
  margin-right: 0.1rem;
}
.topimg1 {
  margin-top: 0.2rem !important;
}
.howdianliangF {
  position: relative;
  display: inline-block;
}
.howdianliangF p {
  color: #fff;
  vertical-align: middle;
  clear: both;
}
.howdianliangF p span {
  vertical-align: middle;
}
.howdianliang {
  position: absolute;
  left: -0.75rem;
  top: -0.02rem;
  width: 0.7rem;
  height: 0.3rem;
  color: #FFFFFF;
  background: #E9034C;
  border-radius: 0.15rem;
  text-align: center;
  padding-left: 0.05rem;
}
@media screen and (max-width: 320px) {
  .howdianliang {
    width: 0.8rem;
    left: -0.85rem;
  }
  .hansansui {
    font-size: 0.15rem !important;
  }
  .CBAxunzhang {
    height: 4rem;
  }
}
.sanjiao {
  width: 0;
  height: 0 !important;
  border: 0.1rem solid transparent;
  border-left: 0.1rem solid #E9034C;
  position: absolute;
  right: -0.15rem;
  top: 0.04rem;
}
.dijitian {
  color: #FFFFFF;
  width: 0.17rem;
  height: 0.17rem;
  border-radius: 100%;
  background: #E3E3E3;
  display: inline-block;
  margin: 0 0.05rem;
}
.zaidijitian {
  color: #000000;
  background: #FBDA10;
}
.shuxian {
  margin: 0 auto;
  width: 0.025rem;
  height: 0.16rem;
  background: #E3E3E3;
}
.onshuxian {
  background: #FBDA10;
}
.jifenF {
  position: relative;
}
.songjifen {
  position: absolute;
  right: 0;
  top: 0;
  color: #333333;
}
.lianxi7tian {
  color: #B3B3B3;
  font-size: 0.12rem;
}
.mengceng {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.7;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}
/*积分提示*/
.ptext {
  z-index: 200;
  font-size: 0.19rem;
  width: 36%;
  height: 0.8rem;
  background-color: #3f3f3f;
  margin: 0 auto;
  position: absolute;
  top: 2.5rem;
  left: 32%;
  color: #ffffff;
  opacity: 0.9;
  border-radius: 0.05rem;
  text-align: center;
}
.pspan {
  display: inline-block;
  margin-top: 0.13rem;
}
.pnumber {
  display: inline-block;
}
.closeBtn {
  position: absolute;
  right: 0.16rem;
  top: 0.1rem;
  width: 0.14rem;
  height: 0.14rem;
  text-align: center;
  line-height: 0.14rem;
  font-family: "微软雅黑";
  font-size: 0.14rem;
}
.iknow {
  background: #FFDD10;
  border-radius: 0.2rem;
  margin-top: 0.1rem;
  font-size: 0.16rem;
}
