* {
	margin: 0;
	padding: 0;
}


/* 完整页面 */

.recordsMain {
	width: 100%;
	display: flex;
	/* overflow: auto; */
	overflow-x: hidden;
	flex-direction: column;
	align-items: center;
	min-height: 6rem;
	background-color: #f4f4f4;
}

.recordBG {
	width: 100%;
	padding-bottom: 1.92rem;
	overflow-x: hidden;
}


/* 一行记录 */

.lineRecordRed {
	width: 100%;
	display: flex;
	flex-direction: row;
	font-size: 0.11rem;
	height: 0.36rem;
	align-items: center;
	background-color: white;
	border-bottom: 0.005rem solid rgb(230, 230, 230);
	color: #e8365e;
}


/* 一行记录 */

.lineRecordRedBig {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 0.36rem;
	font-size: 0.14rem;
	font-weight: 500;
	align-items: center;
	background-color: white;
	border-bottom: 0.005rem solid rgb(230, 230, 230);
	color: #e8365e;
}

.lineRecordBlack {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 0.36rem;
	font-size: 0.11rem;
	align-items: center;
	background-color: white;
	border-bottom: 0.005rem solid rgb(230, 230, 230);
	color: #333333;
}

.lineRecordBlackBig {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 0.36rem;
	align-items: center;
	font-size: 0.14rem;
	font-weight: 500;
	background-color: white;
	border-bottom: 0.005rem solid rgb(230, 230, 230);
	color: #333333;
}

.name {
	margin-left: 0.24rem;
	width: 0.68rem;
	text-align: left;
}

.types {
	width: 0.58rem;
	text-align: left;
}

.data {
	width: 0.67rem;
	text-align: left;
}

.time {
	width: 0.84rem;
	text-align: left;
}

.point {
	text-align: left;
}

.modalbg {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modalname {
	font-size: 0.16rem;
	margin-top: 0.485rem;
	color: #333333;
	text-align: center;
	width: 2rem;
}

.modallinerecord {
	width: 100%;
	background-color: #e6e6e6;
	height: 0.005rem;
	/* margin-top: 0.48rem;  */
	position: absolute;
	bottom: 0.75rem;
}

.modaltitlerecord {
	font-size: 0.18rem;
	color: #333333;
	margin-top: 0.13rem;
}

.modalSure {
	height: 0.4rem;
	width: 2.27rem;
	background-color: #ffdd10;
	color: #333333;
	font-size: 0.16rem;
	border-radius: 0.2rem;
	text-align: center;
	margin: 0 auto;
	line-height: 0.4rem;
	margin-top: 0.2rem;
}

.successtitle {
	font-size: 0.12rem;
	/*margin-top: 0.18rem;*/
	color: #ffffff;
}

.successpoint {
	font-size: 0.12rem;
	margin-top: 0.07rem;
	color: #ffffff;
}

.statusbarOpen1 {
	width: 100%;
	height: 0.45rem;
	/* background-color: #ffb32c; */
	background: url('../Images/label_auction.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}


/* 倒计时组件 */

.countdowngb {
	display: flex;
	flex-direction: row;
	overflow: auto;
	overflow-x: hidden;
	font-size: 0.13rem;
	height: 0.16rem;
	width: 2rem;
	margin-top: 0.02rem;
}

.datanum {
	color: white;
	font-size: 0.11rem;
	width: 0.16rem;
	background-color: #333333;
	text-align: center;
}

.danwei {
	font-size: 0.13rem;
	color: #333333;
	margin-left: 0.04rem;
	margin-right: 0.04rem;
}


/* 锤子小图标 */

.chuizi {
	width: 0.16rem;
	height: 0.16rem;
	margin-left: 0.2rem;
}


/* 正在进行 */

.nowtitle {
	font-size: 0.16rem;
	color: #ffffff;
	margin-left: 0.01rem;
	width: 0.7rem;
	text-align: left;
}

.baoguoTime {
	display: flex;
	flex-direction: column;
	width: 1.1rem;
	margin-left: 1.2rem;
}


/* 倒计时文字叙述 */

.overtitleOpen {
	width: 0.78rem;
	height: 0.16rem;
	font-Size: 0.13rem;
	color: #ffffff;
}


/* 底部拍卖 */

.bottomPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0;
	width: 100%;
	height: 1.88rem;
	background-color: white;
}

.addprice {
	display: flex;
	font-size: 0.16rem;
	align-self: flex-start;
	color: #333333;
	margin-top: 0.14rem;
	margin-left: 0.14rem;
}

.addline {
	width: 100%;
	background-color: #e6e6e6;
	margin-top: 0.14rem;
	height: 0.005rem;
}

.plusbg {
	width: 100%;
	height: 0.28rem;
	display: flex;
	flex-direction: row;
	margin-top: 0.14rem;
	justify-content: center;
}

.jianqian {
	display: flex;
	height: 0.28rem;
	width: 0.35rem;
	/* background-color: rebeccapurple; */
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.price {
	color: #e8365e;
	font-size: 0.24rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

.jiaqian {
	display: flex;
	height: 0.28rem;
	width: 0.35rem;
	/* background-color: goldenrod; */
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.fuhao {
	width: 100%;
	height: 100%;
}

.desctext {
	width: 2.66rem;
	font-size: 0.14rem;
	color: #333333;
	margin-top: 0.07rem;
}

.btnprice {
	background-color: #e8365e;
	height: 0.45rem;
	color: white;
	font-size: 0.16rem;
	width: 100%;
	line-height: 0.45rem;
	margin-top: 0.05rem;
	text-align: center;
}

.loadingImg2 {
	width: 1.2rem;
	height: 1.77rem;
	margin-top: 0.82rem;
	margin-bottom: .4rem;
}


/*新增样式*/

.noData {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 0.2rem;
	align-items: center;
}


/*新增样式*/

.introInputNameMainCustom {
	position: fixed;
	top: 45%;
	left: 20%;
	width: 60%;
	height: 10%;
	display: flex;
	border-radius: .04rem;
	z-index: 300;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba( 0, 0, 0, 0.5);
}