* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  min-height: 100%;
  background: #f4f4f4;
  margin-bottom: 0.55rem;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
.wrap {
  width: 100%;
}
.section {
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
}
.tianjiadizhi {
  color: #333333;
  font-size: 0.16rem;
  text-align: center;
  line-height: 0.4rem;
  margin-top: 0.245rem;
  font-family: 微软雅黑;
  vertical-align: middle;
  background: #ffdd10;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 0.45rem;
  margin-left: 0px;
  border-radius: 0px;
  line-height: 0.45rem;
}
.tianjiadizhi span img {
  width: 0.19rem;
  height: 0.19rem;
  margin-right: 0.085rem;
  vertical-align: middle;
  margin-top: -0.05rem;
}
.system_information_list {
  margin-top: 0.1rem;
  padding: 0.14rem;
  background: #FFFFFF;
  position: relative;
  padding-left: 0.43rem;
}
.system_information_list p:nth-of-type(1) {
  color: #333333;
  font-size: 0.15rem;
  margin-bottom: 0.14rem;
}
.system_information_list p:nth-of-type(2) {
  color: #808080;
  font-size: 0.14rem;
}
.removeBtn {
  width: 0.13rem;
  height: 0.13rem;
  position: absolute;
  right: 0.14rem;
  top: 50%;
  margin-top: -0.065rem;
}
.removeBtn img {
  width: 100%;
}
.anniu {
  width: 100%;
  padding-bottom: 0.1rem;
  border-top: 1px solid #F2F2F2;
  background: #FFFFFF;
}
.anniu div {
  width: 1.2rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem !important;
  color: #333333;
  font-size: 0.16rem;
  border-radius: 0.2rem;
  font-family: "微软雅黑";
  margin: 0 auto;
  margin-top: 0.18rem;
  margin-bottom: 0.15rem;
  float: left;
  margin-left: 0.23rem;
}
.quxiaodingdan {
  border: 2px solid #FFE023;
  margin-left: 0.55rem;
}
.zhifu {
  background: #FFE023;
  margin-left: 0.22rem;
}
.mengceng {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #000000;
  opacity: 0.7;
}
.quxiaodingyaoBox {
  position: fixed;
  left: 0.325rem;
  top: 1rem;
  width: 3.1rem;
  height: 1.99rem;
  margin-top: 0.6rem;
  background: #FFFFFF;
  border-radius: 0.2rem;
  color: #333333;
  z-index: 20;
}
.quxiaodingyaoBox p {
  width: 100%;
  font-size: 0.16rem;
  color: #333333;
  text-align: center;
  font-family: "微软雅黑";
  padding-top: 0.625rem;
}
.anniuQx {
  margin-top: 0.36rem;
}
.anniuQx div {
  margin-top: 0.12rem;
}
