* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
.wrap {
  width: 100%;
  background: #F2F2F2 !important;
  padding-bottom: 0.1rem;
}
.closeBtn {
  padding: 0.14rem;
  width: 100%;
  background: #FFFFFF;
  text-align: right;
  font-size: 0.2rem;
}
.closeBtn img {
  width: 0.14rem;
}
.shengyuTime {
  width: 100%;
  padding: 0.13rem 0;
  text-align: center !important;
  background: #fff3ae;
}
.shengyuTime p {
  color: #333333;
  text-align: center !important;
}
.shengyuTime p span {
  color: #dd3f62;
}
.paoshu_price,
.keyongmiaoshu {
  margin-top: 0.1rem;
  background: #FFFFFF;
  padding: 0.22rem 0.14rem;
  font-size: 0.18rem;
  height: 0.62rem;
}
.paoshu_price p,
.keyongmiaoshu p {
  float: left;
  color: #808080;
}
.paoshu_price p span,
.keyongmiaoshu p span {
  color: #e9054d;
}
.paoshu_price_right {
  float: right !important;
  padding-bottom: 0.22rem !important;
}
.zhifuFangshi {
  margin-top: 0.1rem;
  background: #FFFFFF;
}
.fangshimiaoshu {
  padding: 0.24rem 0.14rem;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.footerHeji {
  width: 100%;
  height: 0.45rem;
  line-height: 0.45rem;
  position: fixed;
  bottom: 0;
  font-size: 0.14rem;
}
.footerHeji div {
  text-align: center;
  float: left;
  width: 50%;
}
.allprice {
  background: #ffffff;
  text-align: left !important;
  padding-left: 0.14rem !important;
}
.allprice span {
  color: #e9054d;
  font-size: 0.18rem;
  margin-right: 0.05rem;
}
.zhifuBtn {
  background: #ffdd10;
}
.tishi_tupain {
  position: absolute;
  right: 0.14rem;
  top: 0.22rem;
  width: 0.15rem;
  height: 0.15rem;
}
.tishi_tupain img {
  width: 100%;
}
.fangshimiaoshu_weixin,
.fangshimiaoshu_dianziqianbao {
  position: relative;
}
.fangshimiaoshu_weixin p,
.fangshimiaoshu_dianziqianbao p {
  padding-left: 0.42rem;
}
.weixin_tupian,
.dianzi_tupian {
  position: absolute;
  left: 0.14rem;
  top: 50%;
  margin-top: -0.118rem;
  width: 0.239rem;
  height: 0.239rem;
}
.weixin_tupian img,
.dianzi_tupian img {
  width: 100%;
}
.weidenglu_tishi {
  z-index: 30;
  position: fixed;
  left: 10%;
  top: 17%;
  width: 80%;
  background: #FFFFFF;
  border-radius: 0.14rem;
}
.weidenglu_tishi_title {
  text-align: center;
}
.weidenglu_tishi_bottom {
  border-top: 1px solid #e6e6e6;
  padding: 0.2rem 0.23rem;
}
.i_know {
  width: 80%;
  height: 0.4rem;
  border: 1px solid #ffdd10;
  text-align: center;
  line-height: 0.4rem;
  border-radius: 0.2rem;
  margin: 0 auto;
}
.weidenglu_tishi_mobile p {
  text-align: center;
  font-size: 0.24rem !important;
  color: #333333;
  padding: 0 0 0.2rem;
}
.weidenglu_tishi_title_p2 {
  text-align: left;
  font-size: 0.16rem !important;
  color: #333333 !important;
  padding: 0.50rem 0.49rem 0.24rem !important;
  line-height: 0.21rem;
}
.mengceng {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #666666;
  opacity: 0.7;
  z-index: 20;
}
.mengceng p {
  font-size: 35px;
  float: right;
  color: #FFFFFF;
  padding-right: 0.3rem;
  padding-top: 0.2rem;
}
.mengceng img {
  width: 100%;
  margin-top: 15%;
}
.guoqi_tishi {
  position: fixed;
  left: 30%;
  top: 60%;
  width: 40%;
  background: #000000;
  opacity: 0.7;
  z-index: 20;
  color: #FFFFFF;
  font-size: 0.12rem;
  text-align: center;
  padding: 0.095rem 0.17rem;
  line-height: 0.2rem;
  border-radius: 0.04rem;
}
.switch {
  width: 0.51rem;
  height: 0.29rem;
  border-radius: 0.15rem;
  float: right;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent !important;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
.switch_img {
  width: 0.73rem;
  height: 0.29rem;
  position: absolute;
  left: -0.22rem;
  top: 0px;
}
.switch_img img {
  width: 100%;
  height: 100%;
}
.swichBox {
  width: 0.51rem;
  height: 0.29rem;
  border-radius: 0.15rem;
  position: relative;
  overflow: hidden;
}
/*修改 2 禁止长按系统出现 复制粘贴      https://www.jb51.net/html5/478439.html*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
input {
  -webkit-user-select: auto;
  /*webkit浏览器*/
}
/*修改 2*/
#btn {
  -webkit-user-select: auto !important;
}
.Switch_Green,
.SwitchLine:after {
  display: none;
}
.Switch_Green,
.SwitchLine:before {
  display: none;
}
.Switch_Green {
  position: relative;
  width: 0.5rem !important;
  height: 0.3rem !important;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background-color: #b4aa9f;
  border-radius: 0.2rem;
}
.Switch_Green .SwitchButton {
  position: absolute;
  width: 0.28rem;
  height: 0.27rem;
  left: 0.01rem;
  top: 0.015rem;
  z-index: 2;
  background-color: #fff3e3;
  border-radius: 0.20rem;
  border: 0.03rem solid #b4aa9f;
}
.Switch_Green.On .SwitchButton {
  border: 0.03rem solid #6ebf5f;
  left: 0.2rem !important;
}
.switchBtn {
  width: 0.51rem;
  height: 0.29rem;
  border-radius: 0.15rem;
  float: right;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent !important;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  margin-top: -0.05rem;
}
