* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  min-height: 100%;
  background: #F4F4F4;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
p {
  font-size: 0.14rem;
}
@media screen and (max-width: 320px) {
  .img_time {
    position: absolute;
    left: -0.15rem;
    top: 0.02rem;
  }
  .img_time1 {
    top: 0.02rem;
  }
}
/*修改*/
.h4 {
  font-size: 0.18rem;
}
.wrap {
  width: 100%;
  height: 100%;
  background: #F4F4F4;
}
/*--------头部的样式----------------*/
.header {
  width: 100%;
  margin-bottom: 0.1rem;
}
.header img {
  width: 100%;
}
.nav {
  background: #fff;
  width: 100%;
  padding-top: 0.15rem;
  padding-left: 0.15rem;
  padding-bottom: 0.5rem;
  border: none;
  margin-bottom: 0px;
}
.nav p {
  float: left;
  color: #8A8A8A;
  margin: 0.15rem 0;
  margin-right: 0.20rem;
  vertical-align: middle;
}
.navBottom {
  width: 100%;
  clear: both;
}
.navBottom div {
  float: right;
  border-radius: 0.02rem;
  margin-right: 0.1rem;
  padding: 0.007rem 0.1rem;
}
.navBottom div:nth-of-type(2) {
  color: #3399FF;
  border: 1px solid #3399FF;
}
.navBottom div:nth-of-type(3) {
  color: #FF3301;
  border: 1px solid #FF3301;
}
.navBottom div:nth-of-type(4) {
  color: #FF9901;
  border: 1px solid #FF9901;
}
.navXianshiqiashu {
  float: left !important;
  background: #fff !important;
  margin-top: -0.06rem;
  padding-left: 0px !important;
}
.navXianshiqiashu span {
  color: #C3396D;
  font-size: 0.17rem;
}
.spanTupian {
  vertical-align: middle;
  width: 0.15rem;
  height: 0.15rem;
  display: inline-blockblock;
  margin-right: 0.05rem;
}
.spanTupian img {
  width: 0.15rem;
}
.section {
  height: 100%;
  margin-top: 0.1rem;
  background: #fff;
  clear: both;
  padding: 0 0.20rem;
  padding-top: 0.05rem;
}
.duanpinBox1 p {
  margin: 0.14rem 0;
}
.tupianwenzi p {
  margin: 0.14rem 0;
  line-height: 0.2rem;
}
.tupianwenzi img {
  width: 100%;
}
.spanTupian {
  vertical-align: middle;
  width: 0.15rem;
  height: 0.15rem;
  display: inline-blockblock;
  margin-right: 0.05rem;
  margin-left: 0.15rem;
  position: relative;
}
.spanTupian img {
  width: 0.15rem;
}
.img_time {
  position: absolute;
  left: -0.15rem;
  top: 0rem;
}
.img_time1 {
  top: 0.01rem;
}
.aseter {
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: block;
  line-height: 50px;
  font-size: 0.15rem;
}
.aseter a {
  color: black;
  padding: 5%;
}
.aseter img {
  width: 13px;
}
.place {
  margin-top: 0.1rem;
  width: 100%;
  height: 0.86rem;
  background: #FFFFFF;
  position: relative;
}
.cententPlace {
  padding-left: 0.81rem;
  padding-top: 0.23rem;
}
.cententPlace p {
  color: #333333;
  font-size: 0.14rem;
}
.cententPlace p:nth-of-type(2) {
  color: #B3B3B3;
  font-size: 0.12rem;
  padding-top: 0.1rem;
}
.leftPlace {
  position: absolute;
  left: 0.175rem;
  top: 0.24rem;
  width: 0.74rem;
  height: 0.38rem;
}
.leftPlace img {
  height: 100%;
}
.rightPlace {
  position: absolute;
  right: 0.14rem;
  top: 0.33rem;
  width: 0.8rem;
  height: 0.3rem;
  border-left: 1px dashed #CCCCCC;
  text-align: right;
  padding-right: 0.15rem;
}
.rightPlace img {
  height: 100%;
  margin-top: -0.1rem;
  margin-right: 0.07rem;
}
.tupianwenzi p {
  line-height: 0.25rem !important ;
}
.navBottom {
  margin-bottom: 0.1rem;
  height: 0.35rem;
  padding-left: 0.15rem;
  background: #ffffff;
  border: none;
}
#navBot {
  background: #ffffff;
}
.pp12 {
  font-size: 0.12rem;
  color: #B3B3B3 !important;
}
.spanTupian img {
  width: 0.12rem;
}
.img_time {
  position: absolute;
  left: -0.15rem;
  top: -0.01rem;
}
.img_time1 {
  top: -0.006rem;
}
.spanTupian {
  margin-right: 0rem;
}
.img_timeLeshi {
  left: -0.13rem;
}
.tupianwenzi p {
  color: #333333 !important;
}
.mengceng {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #666666;
  display: none;
}
#closeBtn {
    font-size: 35px;
    float: right;
    color: #FFFFFF;
    /*padding-right: 0.3rem;
    padding-top: 0.2rem;*/
    position: fixed;
    right: 0.3rem;
    z-index: 99;
    top: 0.2rem;
    display: none;
}
.mengceng  img {
  width: 100%;
  margin-top: 30%;
}
