* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
.wrap {
  width: 100%;
  height: 100%;
  background: #F4F4F4;
}
/*--------头部的样式----------------*/
.header {
  height: 0.45rem;
  width: 100%;
  background: #2B2A2F;
  position: relative;
}
.headerL {
  position: absolute;
  left: 0px;
  top: 25%;
  width: 0.8rem;
  height: 0.45rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  text-align: left;
  padding-left: 0.15rem;
  font-size: 0.16rem;
}
.headerL span {
  margin-left: 0.05rem;
  font-family: "微软雅黑";
}
/*--------文字图片垂直对齐----------------*/
.headerLimg,
.weixinHeader {
  vertical-align: middle;
}
.headerC {
  text-align: center;
  line-height: 0.45rem;
  padding: 0 0.4rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  font-size: 0.16rem;
}
.headerR {
  position: absolute;
  right: 0px;
  top: 25%;
  width: 0.5rem;
  text-align: right;
  height: 0.45rem;
  color: #FFFFFF;
  padding-right: 0.15rem;
}
.section {
  width: 100%;
  height: 100%;
  background: #fff;
}
.xiangqing {
  width: 100%;
  height: 3.5rem;
}
.xiangqing h3 {
  height: 0.45rem;
  text-align: center;
  color: #333333;
  font-size: 0.15rem;
  font-family: "微软雅黑";
  padding-left: 0.2rem;
  line-height: 0.45rem;
  border-bottom: 1px solid #F7F7F7;
}
.jianshuqian {
  width: 100%;
  height: 0.58rem;
  border-bottom: 1px solid #F7F7F7 ;
  font-family: "微软雅黑";
  padding-left: 0.1rem;
  line-height: 0.58rem;
  color: #B3B3B3;
  font-size: 0.12rem;
}
.jianshuqian img {
  width: 8%;
  vertical-align: middle;
}
.jianSpan {
  margin-left: 0.1rem;
  font-size: 0.15rem;
  color: #E9054D ;
  font-weight: bold;
}
.three {
  margin-left: 0.1rem;
  font-size: 0.15rem;
  color: #E9054D ;
  font-weight: bold;
}
.five {
  font-size: 0.15rem;
  color: #E9054D ;
  font-weight: bold;
}
.peisong {
  width: 100%;
  height: 1.165rem;
  border-bottom: 1px solid #F7F7F7;
}
.peisong p {
  font-family: "微软雅黑";
  padding-left: 0.14rem;
}
.peisong p:nth-of-type(1) {
  margin-top: 0.22rem;
  margin-bottom: 0.16rem;
}
.peisong p:nth-of-type(2) {
  margin-bottom: 0.14rem;
}
.zhuangtai {
  width: 100%;
  height: 0.8rem;
  border-bottom: 1px solid #F7F7F7;
}
.zhuangtai p {
  font-family: "微软雅黑";
  padding-left: 0.14rem;
}
.zhuangtai p:nth-of-type(1) {
  margin-top: 0.225rem;
  margin-bottom: 0.19rem;
}
.zhuangtai span {
  color: #ccc;
}
.zhuangtai .shunFeng {
  color: #E9054D ;
  font-weight: bold;
}
.zhuangtai .threeEight {
  margin-left: 0.1rem;
  color: #E9054D ;
  font-weight: bold;
}
.yifa {
  color: #E9054D !important;
  font-weight: bold;
}
.mobilehao {
  float: right;
  margin-right: 0.45rem;
}
.dingdanhao {
  line-height: 0.45rem;
  padding-left: 0.1rem;
  font-family: "微软雅黑";
}
.erhangsuojin {
  padding-left: 0.14rem !important;
  color: #808080;
  font-size: 0.13rem;
}
.jiacu {
  font-weight: bold;
}
.anniu {
  width: 100%;
  height: 1rem;
}
.anniu div {
  width: 2.4rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  color: #333333;
  font-size: 0.16rem;
  border-radius: 0.2rem;
  font-family: "微软雅黑";
  margin: 0 auto;
  margin-bottom: 0rem;
}
.shouhuodizhitishi {
  clear: both;
  width: 100%;
  text-align: center;
  font-family: "微软雅黑";
  color: #EB175A ;
  display: block;
  margin-top: .15rem;
}
.zhifu {
  background: #FFE023;
  margin-left: 0.22rem;
}
#haveAdress {
  position: relative;
}
.gengduo {
  position: absolute;
  right: 0.1rem;
  top: 0.2rem;
}
.gengduo img {
  height: 0.2rem;
}
