* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
}
input,
select,
button,
textarea {
  -webkit-appearance: none;
}
li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 12px;
}
/*------wrap-----------------*/
.wrap {
  width: 100%;
  height: 100%;
  background: #F2F2F2;
}
/*--------头部的样式----------------*/
.header {
  height: 0.45rem;
  width: 100%;
  background: #2B2A2F;
  position: relative;
}
.headerL {
  position: absolute;
  left: 0px;
  top: 25%;
  width: 0.8rem;
  height: 0.45rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  text-align: left;
  padding-left: 0.15rem;
  font-size: 0.16rem;
}
.headerL span {
  margin-left: 0.05rem;
  font-family: "微软雅黑";
}
/*--------文字图片垂直对齐----------------*/
.headerLimg,
.weixinHeader {
  vertical-align: middle;
}
.headerC {
  text-align: center;
  line-height: 0.45rem;
  padding: 0 0.4rem;
  color: #FFFFFF;
  font-family: "微软雅黑";
  font-size: 0.16rem;
}
.headerR {
  position: absolute;
  right: 0px;
  top: 25%;
  width: 0.5rem;
  text-align: right;
  height: 0.45rem;
  color: #FFFFFF;
  padding-right: 0.15rem;
}
.section {
  width: 100%;
  height: 110%;
  background: #EBEBEB;
}
.tab {
  width: 100%;
  height: 0.45rem;
  background: #FFFFFF;
}
.leftJifen,
.rightJinbi {
  text-align: center;
  float: left;
  width: 50%;
  font-family: "微软雅黑";
  height: 0.45rem;
  line-height: 0.45rem;
  font-size: 0.17rem;
}
.rightJinbi ul {
  border-right: none;
}
.neirong {
  width: 100%;
  height: 1.225rem;
  background: #FFFFFF;
  margin-top: .1rem;
}
.jifenshuoming {
  width: 100%;
  height: 3.5rem;
  background: #FFFFFF;
  margin-top: .1rem;
}
.jifenshuoming div {
  width: 100%;
  height: 1.335rem ;
}
.jifenshuoming div h2 {
  color: #333333;
  padding-top: 0.14rem;
  padding-bottom: 0.05rem;
  margin-left: 0.14rem;
  font-size: 0.16rem;
  font-family: "微软雅黑";
}
.jifenshuoming div p {
  margin-left: 0.14rem;
  line-height: 0.18rem;
  font-family: "微软雅黑";
  color: #808080;
  font-size: 0.13rem;
}
.neirongTop {
  width: 100%;
  height: 1.225rem ;
  clear: both;
  padding-top: 0.215rem;
}
.wenzi {
  color: #808080 ;
  font-size: 0.14rem;
  font-family: "微软雅黑";
  text-align: center;
  margin-top: 0.05rem;
}
.wenzi span {
  color: #E9054D;
}
.topimg {
  height: 0.55rem;
  width: 0.55rem;
  margin: 0 auto;
}
.topimg img {
  width: 100%;
  height: 100%;
}
.getjigen {
  height: 3.5rem !important;
}
.goshop {
  width: 100%;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem ;
  color: #333333;
  font-family: "微软雅黑";
  background: #FFDD10;
  margin-top: 0.2rem;
  font-size: 0.16rem;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
.getjigen {
  margin-bottom: 0.3rem;
}
.on {
  border-bottom: 2px solid #FFDD10;
  margin: 0 0.4rem;
}
.jinbiGengduo {
  background: none;
  color: #808080;
  font-size: 0.14rem;
  margin-right: 0.2rem;
}
.jinbiGengduo span {
  margin-right: 0.1rem;
  color: #E9054D;
  font-family: "微软雅黑";
  font-size: 0.24rem;
  font-weight: bold;
  position: relative;
}
.section {
  width: 100%;
  background: #EBEBEB;
}
@media screen and (max-width: 320px) {
  .headerR,
  .headerL {
    top: 0;
  }
  .touimg {
    margin-top: -0.1rem;
  }
  .neirong {
    height: 2.5rem !important;
  }
  html,
  body,
  .warp {
    overflow: auto;
  }
}
.neirong {
  width: 100%;
  margin-top: .1rem;
}
.wenzijifen {
  margin-top: 0.07rem;
}
.neirongTop {
  width: 100%;
  height: 0.74rem ;
  position: relative;
  border-bottom: 1px solid #F6F6F6;
  clear: both;
  background: #FFFFFF;
}
.neirongTop div {
  float: left;
}
.chongzhiBtn {
  position: absolute;
  right: 0.1rem;
  top: 50%;
  margin-top: -0.2rem;
  width: .7rem;
  height: 0.4rem;
  background: #999999 ;
  text-align: center;
  line-height: 0.4rem;
  border-radius: 0.1rem ;
  color: #fff;
}
.wenzi {
  margin-left: 0.245rem;
  font-family: "微软雅黑";
  padding-top: 0.16rem;
}
.wenzi h3 {
  color: #333333;
  font-size: 0.15rem;
}
.wenzi p {
  margin-top: 0.08rem;
  font-size: 0.14rem;
  color: #808080;
}
.gengduo {
  font-size: 0.15rem;
  font-family: "微软雅黑";
  width: 0.79rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  background: #FFDD10;
  position: absolute;
  right: 0.1rem;
  top: 50%;
  margin-top: -0.2rem;
  border-radius: 0.2rem;
}
.hot {
  font-size: 0.15rem;
  font-family: "微软雅黑";
  color: #AB1500;
  width: 0.5rem;
  height: 0.31rem;
  text-align: center;
  line-height: 0.4rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.hot img {
  width: 100%;
}
.topimg {
  height: 0.6rem;
  position: relative;
  width: 0.55rem;
}
.topimg img {
  position: absolute;
  left: 0.155rem;
  top: 0.19rem;
  width: 0.34rem;
  height: 0.34rem;
}
.getjigen {
  height: 3.5rem !important;
  margin-bottom: 0.1rem;
}
.jinbiTOp {
  margin-top: 0.1rem ;
  background: #FFFFFF;
  height: 0.91rem !important ;
}
.jinbiGengduo {
  background: none;
  color: #808080;
  font-size: 0.14rem;
  margin-right: 0.2rem;
}
.jinbiGengduo span {
  margin-right: 0.1rem;
  color: #E9054D;
  font-family: "微软雅黑";
  font-size: 0.24rem;
  font-weight: bold;
  position: relative;
}
.jinbiwenzi {
  margin-right: 0rem !important;
  color: #808080 !important;
  font-family: "微软雅黑";
  font-size: 0.14rem !important;
  font-weight: normal !important;
  margin-top: -0.07rem;
  position: absolute;
}
.topimgTop img {
  position: absolute;
  left: 0.155rem;
  top: 0.19rem;
  width: 0.49rem;
  height: 0.49rem;
}
.dianhuahao {
  color: #808080 !important;
  font-size: 0.14rem !important;
  margin-top: 0.2rem !important;
}
.wenziTop {
  margin-left: 0.2rem;
}
.goshop {
  width: 100%;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem;
  color: #333333;
  font-family: "微软雅黑";
  background: #FFDD10;
  margin-top: 0.2rem;
  font-size: 0.16rem;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
