* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap {
  width: 100%;
  min-height: 885px;
}
li {
  list-style: none;
}
.full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 100px;
}
body,
.wrap {
  font-size: 16px;
}
/*------wrap-----------------*/
.wrap {
  width: 707px;
  min-height: 885px;
  border: 1px solid #000000;
  margin-left: 100px;
  margin-top: 25px;
  position: relative;
}
.top {
  padding-top: 30px;
  background: #CCCCCC;
  padding-bottom: 30px;
  position: relative;
}
.shoudongshuaxin {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 100px;
  height: 45px;
  text-align: center;
  line-height: 50px;
  background: #FFFFFF;
  border-radius: 4px;
}
.centen_quyushuju {
  position: relative;
}
.svg {
  position: absolute;
  right: 10px;
  top: 0px;
}
.title {
  margin-left: 153px;
  margin-top: 30px;
  color: #333333;
}
.changguan_changdi {
  height: 50px;
}
.changguan_changdi div {
  float: left;
  margin-left: 53px;
  margin-top: 30px;
}
.common {
  margin-left: 53px;
  margin-bottom: 10px;
}
.table_jinchang {
  background: #FFFFFF;
}
.table_jinchang,
.table_quyu,
.table_color {
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  clear: both;
  height: 70px;
  text-align: center;
  line-height: 35px;
  color: #333333 !important;
  font-weight: normal;
  margin-left: 30px;
  margin-top: 30px;
}
.table_jinchang tr th,
.table_quyu tr th,
.table_color tr th,
.table_jinchang tr td,
.table_quyu tr td,
.table_color tr td {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  font-weight: normal;
  padding: 5px;
}
.table_color {
  height: 70px;
  position: absolute;
  right: 10px;
  top: 300px;
}
.color_20 {
  background: #35d200;
}
.color_40 {
  background: #7fe504;
}
.color_60 {
  background: #faed2b;
}
.color_80 {
  background: #ffae44;
}
.color_100 {
  background: #f73940;
}
.tab_now {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #CCCCCC;
  margin-top: 20px;
}
.tab_now_on {
  background: #169BD5;
  color: #FFFFFF;
}
.quyushuju,
.pdashuju {
  width: 150px;
  height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  float: left;
  margin-left: 20px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #CCCCCC;
}
.pda_table {
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
}
.pda_table tr th {
  border: 1px solid #CCCCCC;
  font-weight: normal;
  padding: 5px;
}
.pda_table tr td {
  padding: 5px;
  border: 1px solid #CCCCCC;
}
.shujudaochu {
  float: right;
  width: 100px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  margin-top: 5px;
  border: 1px solid #CCCCCC;
  margin-right: 20px;
}
