* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 100px;
}

body {
    font-size: 12px;
    padding-bottom: .2rem;
    background: rgb(244, 244, 244);
}

.centen {
    padding: 0 .1rem;
}

.carportList {
    background: #fff;
    border-radius: .04rem;
    position: relative;
    margin-top: .28rem;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,.08);
}

.carportList div {
    display: flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    font-size: .16rem;
    padding-left: .14rem;
    padding-right: .1rem;
    font-size: .14rem;
    color: #999999;
}

.botBor {
    height: .3rem;
    line-height: .3rem;
    border-bottom: 1px dashed  #F2f2f2;
}

.parkingLot {
    font-size: .16rem !important;
    color: rgb(51, 51, 51) !important;
}

.colorR {
    color: rgb(224, 0, 61) !important;
}

.bgs {
    position: absolute;
    left: 0px;
    top: 0rem;
    height: 100% !important;
    width: .05rem !important;
    display: block;
}

.bgs img {
    display: block;
    width: 100%;
    height: 100%;
}

.nodata {
    width: 100%;
    height: 100%;
    background: rgb(244, 244, 244);
}

.nodata img {
    width: 34%;
    margin-left: 33%;
    margin-top: 1.27rem;
    margin-bottom: .2rem;
}

.nodata p {
    font-size: .14rem;
    color: rgb(51, 51, 51);
    text-align: center;

}

.money,
.parkingLot,
.parkingDuration {
    height: .3rem;
    line-height: .3rem;
}

.parkingM,
.approachDuration,
.appointmentTime,
.outTime {
    line-height: .2rem;
}

.parkingDuration {
    color: rgb(51, 51, 51);
}

.bgH{
    padding-left: .06rem !important;
    padding-right: .06rem !important;
    height: .12rem;
    position: absolute;
    left: 0;
    top: -.1rem;

}
.bgH img{
    width: 100%;
}
