* {
  padding: 0;
  margin: 0;
}
html,
body,
.wrap,
div {
  width: 100%;
}
.wrap {
  width: 100%;
}
.pGold {
  font-size: 0.15rem;
  font-weight: bold;
  color: #b29999;
  margin-left: 0.1rem;
  margin-top: 0.2rem;
}
.number {
  color: #00cc86;
}
.hrs {
  width: 100%;
  height: 0.08rem;
  background-color: #f2f2f2;
  margin-top: 0.2rem;
}
.ptext {
  font-size: 0.10rem;
  color: #cccccc;
}
.ptext span {
  margin-left: 0.21rem;
  margin-top: 0.3rem;
  display: inline-block;
}
.jia {
  font-size: 0.18rem;
  color: #00cc86;
  font-weight: bold;
}
.month {
  font-size: 0.16rem;
  color: #00cc86;
  font-weight: bold;
}
.RMB {
  font-size: 0.13rem;
}
.numbers {
  font-size: 0.15rem;
}
.data {
    display: block;
    float: right;
  font-size: 0.15rem;
  margin-right: 0.1rem;
}
.hr {
  margin-top: 0.3rem;
  width: 95%;
  margin-left: 0.1rem;
  border: 1px solid #f2f2f2;
}
